.Upload{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg,violet, rgb(62, 62, 141));
   
}
.upload-container{
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow: hidden;
    margin-top: 200px;
}
.upload-container img{
    width: 250px;
    height: 250px;
}
.upload-container > button{
    border: none;
    height: 25px;
    background-color: rgb(169, 169, 237);
}
.upload-container > button:hover{
    background-color:    rgb(25, 102, 169);
    color: aliceblue;
}
input[type=file]::file-selector-button {
    border: none;
    height: 25px;
    background-color: rgb(169, 169, 237);
  }
  
  input[type=file]::file-selector-button:hover{
    background-color:    rgb(25, 102, 169);
    color: aliceblue;
  } 
